.board {
  display: flex;
  justify-content: center;
  margin: 64px auto;
  // padding-top: 30px;
  width: 600px;
  height: 600px;
  background-color: whitesmoke;
  text-align: center;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 0 1px 6px, 0 1px 12px white;
  flex-wrap:wrap;
}
.tile {
  display: flex;
  justify-content: center;
  width: 54px;
  height: 54px;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  flex-wrap:wrap;
  // outline: 1px solid;
  // float: left;
}
.tile-content {
  width: 25px;
  height: 25px;
  // -webkit-align-content: center;
  // -ms-flex-line-pack: center;
  // align-content: center;
  justify-content: center;
  flex-wrap:wrap;
}
.node-blue {
  border-radius: 50%;
}
.node-red {
  border-radius: 50%;
}
// .bridge-horizontal {
//   width: 125px;
//   // margin-right: -50px;
// }
// .bridge-vertical {
//   // height: 125px;
//     border-radius: 50%;
//   // margin-bottom: -50px;
// }
.bridge-blue {
  background-color: blue;
}
.bridge-red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}

