<div class="container">
  <div class="board">
    <div *ngFor="let i of 2*size + 1 | iterableNumber">
      <div class="tile" *ngFor="let j of 2*size + 1 | iterableNumber"  (click)="move(i,j)" >
      <div class="tile-content" [ngClass]="{
        'node-red red': check_if_red_node(i,j),
        'node-blue blue': check_if_blue_node(i,j),
        'bridge-red bridge-vertical': check_if_red_bridge(i,j)  === 1,
        'bridge-red bridge-horizontal': check_if_red_bridge(i,j) === 2,
        'bridge-blue bridge-vertical': check_if_blue_bridge(i,j) === 1,
        'bridge-blue bridge-horizontal': check_if_blue_bridge(i,j) === 2
      }">
      <!-- <div class="tile-content" [ngClass]="{
        'node-red red': check_if_red_node(i,j),
        'node-blue blue': check_if_blue_node(i,j),
        'bridge-red': check_if_red_bridge(i,j) !== 0,
        'bridge-blue': check_if_blue_bridge(i,j) !== 0,
        'bridge-vertical': check_if_blue_bridge(i,j) !== 0,
        'bridge-horizontal': check_if_blue_bridge(i,j) !== 0
      }"> -->
      <p style="align-text:right">{{i +  '/' + j}}</p>
      </div>
      <!-- <p >{{blueCount}}</p> -->
      <!-- <p *ngIf="check_if_red_node(i,j)">{{redCount}}</p> -->
      </div>
    </div>
  </div>
  <!-- <canvas #canvas  height="800" width="800" id="board" >

  </canvas> -->
  <!-- <ng-container *ngIf="blueNodes && redNodes">
      <div *ngFor="let blueNode of blueNodes; let i = index">
          <span class="node-blue"></span>

        </div>
  </ng-container> -->
</div>
<button (click)="getIndexes()">asasasas</button>

