<div *ngIf="players > 2">
  <div class="notification is-danger">
    Sorry, only 2 players can play at a time. You can start your own game by visiting <a
      href="{{ gameUrl }}">{{ gameUrl }}</a>
  </div>
</div>
<div *ngIf="players < 2">
  <h2>Waiting for 2nd user to join...</h2>
  <h4 class="subtitle is-6">You can invite them with this link: <a
      href="{{ gameUrl }}?id={{ gameId }}" target="_blank">{{ gameUrl }}?id={{ gameId }}</a></h4>
</div>
<div *ngIf="players === 2" class="playable">
  <div class="alert alert-success" *ngIf="canPlay">Your turn!</div>
  <div class="alert alert-danger" *ngIf="!canPlay">Other player's turn.</div>
</div>
<div class="board" *ngIf="players === 2">
  <div *ngFor="let i of 2*size + 1 | iterableNumber">
    <div class="tile" *ngFor="let j of 2*size + 1 | iterableNumber" (click)="move(i,j)">
      <div class="tile-content" [ngClass]="get_class(i,j)">
      </div>
    </div>
  </div>
</div>
<div class="menu-right">
  <button class="btn btn-danger" (click)="quitGame()">Quit Game</button>
</div>
