
// .container {
//   margin: 64px auto;
//   width: 600px;
//   height: 600px;
//   background-color: whitesmoke;
//   text-align: center;
//   border: 1px solid;
//   border-radius: 6px;
//   box-shadow: 0 1px 6px, 0 1px 12px white;
// }
.board {
  margin: 64px auto;
  padding-top: 30px;
  width: 600px;
  height: 600px;
  background-color: whitesmoke;
  text-align: center;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 0 1px 6px, 0 1px 12px white;
}
.tile {
  width: 51px;
  height: 51px;
  // outline: 1px solid;
  float: left;
}
.tile-content {
  width: 25px;
  height: 25px;
  // outline: 1px solid;
  float: right;
}
%bridge-horizontal {
  width: 125px;
  margin-right: -50px;
}
%bridge-vertical {
  height: 125px;
  margin-bottom: -50px;
}
.redBridge-horizontal {
  @extend %bridge-horizontal;
  background-color: red;
}
.redBridge-vertical {
  @extend %bridge-vertical;
  background-color: red;
}
.blueBridge-horizontal {
  @extend %bridge-horizontal;
  background-color: blue;
}
.blueBridge-vertical {
  @extend %bridge-vertical;
  background-color: blue;

}
%node {
  border-radius: 50%;
  // float: right;
}
.blueNode {
  @extend %node;
  background-color: blue;
}
.redNode {
  @extend %node;
  background-color: red;
}
.blueBridge {
  width: 75px;

  background-color: blue;
}
.redBridge {
  background-color: red;
}

.node-blue {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: blue;
}
.node-red {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
}
