<form>
    <input id="passwordOutput" #passwordOutput value="{{newPassword}}" readonly/>
    <button type="button" (click)="copyPassword()" class="btn btn-info">Copy to clipboard</button>
    <!-- <div class="flex">
      <span *ngFor="let checkbox of checkboxes">
        <input type="checkbox" (change)="updateCheckboxValue($event)" id="{{checkbox.id}}" [checked]="checkbox.checked" />
        <label for="{{checkbox.id}}">{{checkbox.label}}</label>
      </span>
    </div> -->

    <!-- <button type="button" (click)="generatePassword()">{{buttonLabel}}</button> -->
  </form>