form input[type=text], form input[type=range] {
    margin: 0;
    padding: 0 6px;
    height: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
}
form button:focus, form input[type=text]:focus, form input[type=range]:focus {
    outline: 0;
}
form {
    margin: 60px 0;
    display: block;
    width: 256px;
    height: 256px;
    font-family: monospace;
}
form #passwordOutput {
    position: relative;
    background-color: #f5f5f5;
    max-width: 232px;
    height: 64px;
    line-height: 64px;
    margin-bottom: 12px;
    padding: 0 12px;
    font-size: 34px;
    color: #ffa90d;
    text-align: center;
    text-shadow: 1px 1px #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
form #passwordOutput::-moz-selection, form #passwordOutput::selection {
    background: 0 0;
}
form input[type=text] {
    width: 50px;
    border: 0;
    font-size: 26px;
    color: #ffa90d;
    text-shadow: 1px 1px #404040;
    text-align: center;
}
form input[type=range] {
    float: left;
    width: 182px;
}
form input[type=range]::-moz-focus-outer {
    border: 0;
}
form input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    width: 100%;
    cursor: pointer;
    background: #ffc45a;
    border-radius: 2px;
    border: 0;
    box-shadow: inset rgba(140,140,140,.5) -.1em .1em 0 0;
}
form input[type=range]::-webkit-slider-thumb {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    height: 40px;
    width: 22px;
    margin-top: -16px;
    border-radius: 2px;
    background: #ffa90d;
    box-shadow: inset #ffa90d 0 .5em 0 0,inset #d98c00 0 .6em 0 0,inset #f39c00 0 .85em 0 0,inset #ffb227 0 .9em 0 0,inset #ffa90d 0 1.2em 0 0,inset #d98c00 0 1.3em 0 0,inset #f39c00 0 1.55em 0 0,inset #ffb227 0 1.6em 0 0,inset #ffa90d 0 1.9em 0 0,inset #d98c00 0 2em 0 0,inset #f39c00 0 2.25em 0 0,inset #ffb227 0 2.3em 0 0,rgba(0,0,0,.2) -.15em .15em 0 0;
    border-bottom: .15em solid #d98c00;
    border-left: .15em solid #d98c00;
    border-top: .15em solid #ffb227;
    border-right: .15em solid #ffb227;
}
form input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
}
form input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #ffc45a;
    border-radius: 2px;
    border: 0;
    box-shadow: inset rgba(140,140,140,.5) -.1em .1em 0 0;
}
form input[type=range]::-moz-range-thumb {
    cursor: pointer;
    height: 28px;
    border-radius: 2px;
    background: #ffa90d;
    box-shadow: inset #ffa90d 0 .4em 0 0,inset #d98c00 0 .5em 0 0,inset #f39c00 0 .6em 0 0,inset #ffb227 0 .65em 0 0,inset #ffa90d 0 .8em 0 0,inset #d98c00 0 .9em 0 0,inset #f39c00 0 1em 0 0,inset #ffb227 0 1.05em 0 0,inset #ffa90d 0 1.2em 0 0,inset #d98c00 0 1.25em 0 0,inset #f39c00 0 1.35em 0 0,inset #ffb227 0 1.4em 0 0,rgba(0,0,0,.2) -.15em .15em 0 0;
    border-bottom: .15em solid #d98c00;
    border-left: .15em solid #d98c00;
    border-top: .15em solid #ffb227;
    border-right: .15em solid #ffb227;
}
form input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    color: transparent;
    box-shadow: inset rgba(39,25,0,.5) -.1em .1em 0 0;
    border: 0;
}
form input[type=range]::-ms-fill-lower, form input[type=range]::-ms-fill-upper {
    box-shadow: inset #a6a6a6 -.1em .1em 0 0;
    background: #fff;
    border-radius: 1px;
}
form input[type=range]::-ms-tooltip {
    display: none;
}
form input[type=range]::-ms-thumb {
    cursor: pointer;
    height: 28px;
    width: 14px;
    margin-top: -2px;
    border-radius: 2px;
    background: #ffa90d;
    box-shadow: inset #ffa90d 0 .4em 0 0,inset #d98c00 0 .5em 0 0,inset #f39c00 0 .6em 0 0,inset #ffb227 0 .65em 0 0,inset #ffa90d 0 .8em 0 0,inset #d98c00 0 .9em 0 0,inset #f39c00 0 1em 0 0,inset #ffb227 0 1.05em 0 0,inset #ffa90d 0 1.2em 0 0,inset #d98c00 0 1.25em 0 0,inset #f39c00 0 1.35em 0 0,inset #ffb227 0 1.4em 0 0,rgba(0,0,0,.2) -.15em .15em 0 0;
    border-bottom: .15em solid #d98c00;
    border-left: .15em solid #d98c00;
    border-top: .15em solid #ffb227;
    border-right: .15em solid #ffb227;
}
form div.flex {
    display: flex;
    justify-content: center;
    margin: 10px 0 6px;
}
form div.flex span input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: none;
    position: relative;
}
form div.flex span input[type=checkbox]+label[for=lowercase] {
    border-radius: 4px 0 0 4px;
}
form div.flex span input[type=checkbox]+label[for=symbols] {
    border-radius: 0 4px 4px 0;
}
form div.flex span input[type=checkbox]+label {
    position: relative;
    padding: 6px 16px;
    line-height: 64px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #404040;
    font-size: 16px;
    font-weight: 700;
    background: #ffa90d;
    box-shadow: 0 6px #d98c00,1px 0 #ffcd73 inset;
}
form div.flex span input[type=checkbox]:checked+label {
    top: 4px;
    background-color: #ffa503;
    box-shadow: 0 2px #d98c00,inset -1px 0 0 #ffcd73;
}
form button {
    position: relative;
    background: #ffa90d;
    margin-bottom: 16px;
    margin-left: 6px;
    line-height: 56px;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px #404040;
    box-shadow: 0 6px #d98c00;
}
form button:active {
    top: 4px;
    box-shadow: 0 2px #d98c00;
}