<div class="container">
  <div *ngIf="!loading" class="buttons">
    <div>
      <button (click)="newGame()" type="button" class="btn btn-dark btn-block"> New Game</button>
    </div>
    <div>
      <button (click)="joinGame(joinGame)" type="button" class="btn btn-dark btn-block"> Join Game</button>
    </div>
  </div>
<div *ngIf="loading" id="loader"></div>
</div>
<!-- new game -->
<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new game</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div>
          <button (click)="publicGame(newGame)" type="button" class="btn btn-dark btn-block"> Public Game</button>
        </div>
        <div>
          <button (click)="privateGame(newGame)" type="button" class="btn btn-dark btn-block"> Private Game</button>
        </div>
  </div>
</ng-template>
<ng-template #privateGame let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new game</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-password></app-password>
    <!-- <pre>{{content}}</pre> -->
    <!-- <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form> 
  </div>
</ng-template> -->
<!-- <hr>

<pre>{{closeResult}}</pre>
 -->

  <!-- </div> -->