.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 64px auto;
    // padding-top: 30px;
    width: 600px;
    height: 600px;
    background-color: whitesmoke;
    text-align: center;
    flex-wrap:wrap;

    .buttons {
        width: 60%;
        display: block;
        div {
            margin: 50px 0;
            align-self: center;
        }
    }
  }